<script>
    import {url} from '@roxi/routify';
</script>

<div class="m-5 !mt-0 text-white">
    <div class="section-title">
        <a href={$url('./index')}>Messsages</a>
    </div>
    <hr class="my-3 mb-6 border-white border-opacity-25">
    <slot></slot>
</div>