<script>
    import {url} from '@roxi/routify'
    import {messages} from './messages';
</script>


    {#each messages as message, key}
        <a class="panel block" href={$url('./' + key)}>
            <span class="msg-title">{message.title}</span>
            <span>{message.content }</span>
        </a>
   {/each}


<style>
    .panel {
        @apply mb-4
    }

    .panel .msg-title {
        @apply font-bold text-xl mb-3 pb-2 border-black border-b border-opacity-10 block;
    }
</style>