<script>
    import * as L from 'leaflet';
    import '/node_modules/leaflet/dist/leaflet.css';
    import { onMount } from 'svelte';

    import { getAccessToken, getRefreshToken, getToken, init } from '@components/api/user';
    import { getVehicleInfo, setPowerStatus, getVehicleStatus } from '@components/api/vehicle';    
    var current_access = getAccessToken();
    
    console.log('Current Access Token', current_access);

    let map = null;
    let Vehicle = getVehicleInfo()

    async function createMap() {
        Vehicle = await getVehicleInfo();
        console.log(Vehicle);
        // BEGIN: Map View
        let location = L.map(map, {
            center: [Vehicle.vehicle.vehicleLocation.latitude, Vehicle.vehicle.vehicleLocation.longitude],
            zoom: 15
        });

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(location);
        var layer = L.marker([Vehicle.vehicle.vehicleLocation.latitude, Vehicle.vehicle.vehicleLocation.longitude]).addTo(location);
        // END: Map View
    }

    createMap()

</script>

{#await Vehicle}
    <p class="font-bold text-2xl mt-60 text-center text-white">Updating Location...</p>
{:then value}
    <div bind:this={map} id="map" class="fixed w-100 block top-20 left-0 right-0 z-40" style="height: 100vh; width: 100%;"></div>
{/await}