<script>
    import {getVehicleList, getVehicleInfo} from '@components/api/vehicle'
    import { getAccessToken} from '@components/api/user'
    import { getStorageToken} from '@components/api/storage'


    var vehicleInfo;
    var accessToken;
    var tokenData;
    var expires_on;

    async function getCurrentVehicleInfoTest() {
        vehicleInfo = "Loading...";
        async function getInfo() {
            const CurrentVehicleInfo = await getVehicleInfo();
            vehicleInfo = CurrentVehicleInfo;
        }
        const getgetInfo = await getInfo();
        
        // Retry a second time to grab vehicleInfo (useful if after first login)
        if (vehicleInfo.message) {
            const getgetInfo = await getInfo();
        }
    }

    async function getAccessTokenTest() {
        accessToken = "Loading..."
        accessToken = await getAccessToken();
    }

    async function getTokenTest() {
        tokenData = JSON.parse(await getStorageToken('Token'));
        expires_on = new Date(tokenData.expires_on * 1000)
    }
</script>

<div class="test-page m-6">
    <div class='section-title !mb-2'>Development Tests</div>

    <div class="text-white">This is the testing page, this would not be shown to customers or clients. </div>

    <div class='section-title'>Token</div>

    <button on:click={() => getAccessTokenTest()} class="panel">GET Access Token</button>
    <span class="panel block max-h-30 !overflow-y-scroll">{accessToken}</span>

    <button on:click={() => getTokenTest()} class="panel">GET Token Data</button>
    <span class="panel block max-h-30 !overflow-y-scroll">
        Expires on: {expires_on}
        <br><br>
        {JSON.stringify(tokenData, undefined, 5)}
    </span>


    <div class='section-title'>Update Vehicle Info</div>

    <button on:click={() => getCurrentVehicleInfoTest()} class="panel">Update Vehicle</button>

    <div class="panel font-mono max-h-72 !overflow-y-scroll">
        {JSON.stringify(vehicleInfo)}
    </div>

</div>

<style>
    button {
        @apply my-4 py-3
    }
</style>