<script>
    import {init, reset, checkAccess} from '@components/api/user'
    import { goto, afterPageLoad } from '@roxi/routify';
    import {first_load}  from '@store/store'

    var loggedin = false;

    async function openOAuth() {
        const startReset = await reset();
        $first_load = true;
        const loginUri = "https://fordconnect.cv.ford.com/common/login/?make=F&application_id=afdc085b-377a-4351-b23e-5e1d35fb3700&client_id=30990062-9618-40e1-a27b-7c6bcb23658a&response_type=code&state=123&redirect_uri=https%3A%2F%2Flocalhost%3A3000&scope=access";

        if (window.cordova && window.cordova.InAppBrowser) {
            const browser = cordova.InAppBrowser.open(loginUri, '_blank')

            browser.addEventListener('loadstop', checkUri);

            function checkUri(params) {
                // Detect the localhost callback URI, save this to the store, where the user.js api will take over. 
                if (params.url.startsWith("https://localhost:3000/")) {
                    browser.close(); // Close is called first to hide the blank localhost page as soon as possible

                    console.log("[Localhost Detected] :: ", params.url )

                    var access_code = params.url.slice(39)
                    const initStart = init(access_code);
                    loggedin = true;
                } else {
                    console.log("Not the callback URL")
                }
            }
        }
    };

    $afterPageLoad(page => {
        async function checkAccessKey() {
            const current_access = await checkAccess(); 
            if (current_access) {
                $goto('../app/index');
            }
        }
        checkAccessKey();
    }); 
</script>

<div class="text-center m-8 mt-25 text-white">
    
    {#if loggedin} 
        <h1 class="font-bold text-white mt-40 text-4xl">Welcome!</h1>
        <p class="text-white font-bold leading-12 my-20 text-xl">We are so happy to have you here! You are now ready to start managing your Ford or Lincoln vehicles.</p>
        <a class="block p-4 bg-white text-ford-blue m-4 font-4xl rounded-lg font-bold" href="./setup/loading">Continue
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"/></svg>

        </a>
    {:else}
        <img src="/img/Ford_logo_flat.png" alt="Ford Logo" class="ford_logo mb-8"/>
        <h1 class="font-bold text-white text-4xl mb-35 hidden">FordConnect</h1>
        <p class="text-2xl font-bold mb-6 mt-50 leading-12">Ford was built on the belief that freedom of movement drives human progress. </p>
    {/if}
</div>
    {#if !loggedin} 
    <button on:click="{() => openOAuth()}" class="cta text-ford-blue">
        <span>Go Further</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"/></svg>
    </button>
    {/if}
    

<style>
    .ford_logo {
        max-width: 300px;
        display: inline-block;
        opacity: 0.95;
    }

    .cta {
        padding: 20px;
        @apply bg-white px-12 py-5 shadow text-3xl fixed bottom-0 left-0 w-full
    }
    svg {
        display: inline-block;
        margin-top: -4px;
    }
</style>