<script>
    import {getVehicleList, getVehicleInfo, getVehicleImage} from '@components/api/vehicle'
    import Menu from '@components/Menu.svelte';
    import { beforeUrlChange } from "@roxi/routify"

    const bodyDiv = document.querySelector('body');
    var menuShown = false;
    var Vehicle = getVehicleInfo();
    
    $beforeUrlChange((event, store) => {
        menuShown = false;
        bodyDiv.style.overflowY = "scroll"
        return true;
    });

    const menuDiv = document.querySelector('body');
    var menuShown = false;
    function toggleMenu() {
        if (menuShown) {
            bodyDiv.style.overflowY = "scroll"
            menuShown = false;
        } else {
            bodyDiv.style.overflowY = "hidden"
            menuShown = true;
        }
    }

    var toggleVehicleSelectorShown = false;
    function toggleVehicleSelector() {
        if (toggleVehicleSelectorShown) {
            bodyDiv.style.overflowY = "scroll"
            toggleVehicleSelectorShown = false;
        } else {
            bodyDiv.style.overflowY = "hidden"
            toggleVehicleSelectorShown = true;
        }
    }

    var menuWidth = "75%";
    var vehicleImage = getVehicleImage('thumbnail');

</script>

<div class="header text-xl p-3 px-5 mb-4 text-white font-bold top-0">
    <div class="grid grid-cols-12">
        <div class="col-span-4 pt-2">
            <div class="inline-block fill-white align-middle mr-2" on:click={() => toggleMenu()} id="MenuButton">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z"/></svg>
            </div>
           <!--- <div class="text-sm inline-block">FordConnect</div> -->

        </div>
        <div class="col-span-4 text-center" class:active={toggleVehicleSelectorShown}>
            <div class="car-icon inline-block align-middle rounded-6xl bg-white bg-opacity-30 px-2 py-1" on:click={() => toggleVehicleSelector()}>
                <div class="car-icon-holder">
                    {#await vehicleImage then image}
                        <img width="65px;" src="data:image/png;base64,{image}">
                    {/await}
                </div>
            </div>
        </div>
        <div class="col-span-4 text-right">
            <a class="inline-block rounded-full fill-white pt-2" href="/app/account">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M4 22a8 8 0 1 1 16 0h-2a6 6 0 1 0-12 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z"/></svg>
            </a>
        </div>
    </div>
</div>

<div id="MenuHolder" class="fixed top-0 left-0 h-full" class:active={menuShown}>
    <div class="bg-overlay" on:click={() => toggleMenu()}></div>
    <div class="menuDiv bg-white" style="width: {menuWidth}">
        <div class="closeMenu fill-black absolute top-0 left-0 m-5" on:click={() => toggleMenu()}>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z"/></svg>
        </div>
        <img class="logo" src="/img/Ford_logo_flat.png"/>
        <Menu width="100%"/>
    </div>
</div>

<div id="VehicleSelector" class:active={toggleVehicleSelectorShown} on:click={() => toggleVehicleSelector()}>
    <div class="bg-overlay" on:click={() => toggleVehicleSelector()}></div>
    {#await vehicleImage then image}
        {#await Vehicle then vehicle}
            <div class="VehicleMenu">
                    <img width="65px;" src="data:image/png;base64,{image}" class="inline-block mr-4">
                    <span class="inline-block font-bold text-xl align-middle">{vehicle.vehicle.modelYear} {vehicle.vehicle.modelName} </span>
            </div>
            <div class="VehicleMenu">
                    <span class="inline-block mr-4 text-4xl align-middle ml-4">+</span>
                    <span class="inline-block font-bold text-xl align-middle ml-4">Add Vehicle </span>
            </div>
        {/await}
    {/await}

    <p class="text-white mt-8 bg-black bg-opacity-60 rounded-lg p-3 text-center">This is where you would select a vehicle from your account.</p>
    <p class="text-white mt-2 bg-black bg-opacity-60 rounded-lg p-3 text-center">Only one vehicle is supported at the moment.</p>
</div>

<style>
    .header {
        z-index: 9999;
    }

    .header .active {
        z-index:99999999;
    }
    #MenuHolder {
        margin-left: -400%;
        z-index: 9999;
        width: 100%;
        transition: all 0.5s;
    }

    #MenuHolder.active {
        display: block;
        margin-left: 0px;
    }

    .active .bg-overlay {         
        opacity: 1;
        transition: opacity 400ms, visibility 400ms;
        visibility: visible;    
    }

    #MenuHolder .logo {
        max-width: 120px;
        @apply float-right m-3
    }

    #MenuHolder .menuDiv {
        max-width: 75%;;
    }
    .bg-overlay {
        background: rgba(0, 0, 0, 0.35);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        transition: opacity 400ms, visibility 400ms;
    }

    #VehicleSelector {
        display: none;
        z-index: 9999 !important;
        width: 250px;
        left: 25%;
        @apply fixed top-20 z-50;
    }

    #VehicleSelector .VehicleMenu {
        @apply bg-white bg-opacity-95 rounded-lg p-3 px-4 mb-4;
    }

    #VehicleSelector.active {
        display: block;
    }


</style>