<script>
    import * as L from 'leaflet';
    import '/node_modules/leaflet/dist/leaflet.css';
    import { onMount } from 'svelte';

    import { getAccessToken, getRefreshToken, getToken, init } from '@components/api/user';
    import { getVehicleInfo, setPowerStatus, getVehicleStatus } from '@components/api/vehicle';    
    var current_access = getAccessToken();
    
    console.log('Current Access Token', current_access);

    let map = null;
    let Vehicle = getVehicleInfo()

    async function updateLocation() {
        Vehicle = await getVehicleInfo();        
        var LatLng = [Vehicle.vehicle.vehicleLocation.latitude, Vehicle.vehicle.vehicleLocation.longitude]

        createMap(LatLng);
    }
    async function updateLocation2() {
        Vehicle = await getVehicleInfo();        
        var LatLng = [0,0]

        createMap(LatLng);
    }

    async function createMap(LatLng) {
        Vehicle = await getVehicleInfo();
        console.log(Vehicle);
        // BEGIN: Map View
        let location = L.map(map, {
            center: LatLng,
            zoom: 15
        });

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(location);
        var layer = L.marker(LatLng).addTo(location);
        // END: Map View
    }
<script>

<div class="map-c fixed w-100 block top-17 left-0 right-0 z-40" style="height: 100vh; width: 100%;">
    <div bind:this={map} id="map" style="height: 100%; width: 100%;"></div>
</div>