<script>
    import * as L from 'leaflet';
    import '/node_modules/leaflet/dist/leaflet.css';
    import { url } from '@roxi/routify'
    import { onMount } from 'svelte';

    import { getAccessToken, getRefreshToken, getToken, init } from '@components/api/user';
    import { getVehicleInfo, setPowerStatus, getVehicleStatus } from '@components/api/vehicle';
    import Header from '@components/Header.svelte';
    
    var current_access = getAccessToken();
    
    console.log('Current Access Token', current_access);

    let map = null;
    let Vehicle = getVehicleInfo()
    let VehicleStatus = getVehicleStatus();

    // Update values in one sweep, needs to have an error handler. 
    async function updateValues() {
        console.log("[Index] :: Updating values for Vehicle and VehicleStatus")
        Vehicle = await getVehicleInfo();
        VehicleStatus = await getVehicleStatus();
        return true;
    }

    // Update values every five minutes
    setInterval(updateValues(), 300000);

    onMount(async () => {

        var Vehicle = await getVehicleInfo();
        console.log(Vehicle);
        // BEGIN: Map View
        let location = L.map(map, {
            center: [Vehicle.vehicle.vehicleLocation.latitude, Vehicle.vehicle.vehicleLocation.longitude],
            zoom: 15
        });

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(location);
        var layer = L.marker([Vehicle.vehicle.vehicleLocation.latitude, Vehicle.vehicle.vehicleLocation.longitude]).addTo(location);
        // END: Map View

    });


    var locked = true;
    var powered = true;

    var toggleEngineProgress = false;
    var IntendedEngineStatus;
    var wakeStatus = false;

    async function toggleEngine(value) {
        var VehicleCopy = await Vehicle;
        // This is to catch double clicks on the same button click and return false if thats true.
        if (value == "stopEngine" && VehicleCopy.vehicle.vehicleStatus.ignitionStatus.value == "OFF") { return false}
        if (value == "startEngine" && VehicleCopy.vehicle.vehicleStatus.ignitionStatus.value == "ON") { return false}
        
        var toggleEngineMsg = true;
        toggleEngineProgress = toggleEngineMsg;
        IntendedEngineStatus = value;

        var res = await setPowerStatus(value);

        if (res.status == "200") {
            if (value == "stopEngine") {
                VehicleCopy.vehicle.vehicleStatus.ignitionStatus.value = "OFF";
                toggleEngineProgress = false;
                wakeStatus = false;
            }
            if (value == "startEngine") {
                VehicleCopy.vehicle.vehicleStatus.ignitionStatus.value = "ON";
                toggleEngineProgress = false;
                wakeStatus = false;
            }
            if (value == "wake") {
                VehicleCopy.vehicle.vehicleStatus.ignitionStatus.value == "OFF";
                toggleEngineProgress = false;
                wakeStatus = true;
            }
            console.log(VehicleCopy);
            Vehicle = VehicleCopy;
            return true;
        } else {
            return false;
        }
    }

    var toggleLockProgress = false;
    async function toggleLock() {
        var VehicleStatusCopy = await VehicleStatus;
        var currentLockStatus = VehicleStatusCopy.vehiclestatus.lockStatus.value;
        // This is to force Svelte to reignite the await function
        var toggleLockMsg = true;
        toggleLockProgress = toggleLockMsg;

        var intendedLockStatus;

        if (currentLockStatus == "LOCKED")   {intendedLockStatus = "unlock"}
        if (currentLockStatus == "UNLOCKED") {intendedLockStatus = "lock"  }

        console.log('HELLO',currentLockStatus, intendedLockStatus);

        var res = await setPowerStatus(intendedLockStatus);

        if (res.status == "200") {
            if (intendedLockStatus == "unlock") {
                VehicleStatusCopy.vehiclestatus.lockStatus.value = "UNLOCKED";
                toggleLockProgress = false;
            }
            if (intendedLockStatus == "lock") {
                VehicleStatusCopy.vehiclestatus.lockStatus.value = "LOCKED";
                toggleLockProgress = false;
            }

            console.log(VehicleStatusCopy);
            VehicleStatus = VehicleStatusCopy;
            return true;
        } else {
            return false;
        }
    }
</script>

<Header />

<div class="grid grid-cols-4 gap-6 gap-y-4 px-5">

    <h1 class="section-title">Power</h1>        
    <div class="panel col-span-4 text-center">  
        {#await Vehicle}
            <div class="py-4 pt-0 pb-0 text-lg">Loading vehicle information... </div>
        {:then vehicle}
            <div class="py-4 pt-0 font-bold text-lg">Your {vehicle.vehicle.modelYear} {vehicle.vehicle.modelName} is 
                {#if toggleEngineProgress}
                    {#if IntendedEngineStatus == "wake"}waking up.{/if}
                    {#if IntendedEngineStatus == "stopEngine"}turning off.{/if}
                    {#if IntendedEngineStatus == "startEngine"}getting ready.{/if}
                {:else if IntendedEngineStatus}
                    {#if IntendedEngineStatus == "wake"}awake.{/if}
                    {#if IntendedEngineStatus == "stopEngine"}off.{/if}
                    {#if IntendedEngineStatus == "startEngine"}ready.{/if}
                {:else}
                    {#if wakeStatus}awake.{/if}
                    {#if !wakeStatus && vehicle.vehicle.vehicleStatus.ignitionStatus.value == "OFF"}off.{/if}
                    {#if !wakeStatus && vehicle.vehicle.vehicleStatus.ignitionStatus.value == "ON"}ready.{/if}
                {/if}
            </div>
            <div class="grid grid-cols-3 gap-3 gap-y-0 w-full">          
                <div class="button col-span-1" class:active={!wakeStatus && vehicle.vehicle.vehicleStatus.ignitionStatus.value == "ON"} on:click|preventDefault={async() => toggleEngine("startEngine")}>On</div>
                <div class="button col-span-1" class:active={wakeStatus} on:click|preventDefault={async() => toggleEngine("wake")}>Wake</div>
                <div class="button col-span-1" class:active={!wakeStatus && vehicle.vehicle.vehicleStatus.ignitionStatus.value == "OFF"} on:click|preventDefault={async() => toggleEngine("stopEngine")}>Off</div>
            </div>

        {/await}
    </div>

    <h1 class="section-title">Quick actions</h1>

    {#await VehicleStatus}
        <div class="panel col-span-2">
            <div class="panel-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M7 10h13a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V11a1 1 0 0 1 1-1h1V9a7 7 0 0 1 13.262-3.131l-1.789.894A5 5 0 0 0 7 9v1zm-2 2v8h14v-8H5zm5 3h4v2h-4v-2z"/></svg>        
            </div>        
            <div class="py-3 pb-0">Checking status...</div>
        </div>
    {:then status}
         <div class="panel col-span-2" class:active="{status.vehiclestatus.lockStatus.value == "LOCKED"}" on:click|preventDefault="{async() => toggleLock()}">
            {#if status.vehiclestatus.lockStatus.value === "UNLOCKED"}
                <div class="panel-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M7 10h13a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V11a1 1 0 0 1 1-1h1V9a7 7 0 0 1 13.262-3.131l-1.789.894A5 5 0 0 0 7 9v1zm-2 2v8h14v-8H5zm5 3h4v2h-4v-2z"/></svg>        
                    <div class="toggle-pill"></div>
                </div>        
            {:else}
                <div class="panel-icon">
                    <svg class="fill-green-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M6 8V7a6 6 0 1 1 12 0v1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h2zm13 2H5v10h14V10zm-8 5.732a2 2 0 1 1 2 0V18h-2v-2.268zM8 8h8V7a4 4 0 1 0-8 0v1z"/></svg>
                    <div class="toggle-pill"></div>
                </div>
            {/if}
            <div class="py-3 pb-0">
                {#if toggleLockProgress == false && status.vehiclestatus.lockStatus.value === "LOCKED"} Locked <!-- If engine is on and not turning off-->
                {:else if toggleLockProgress == false && status.vehiclestatus.lockStatus.value === "UNLOCKED"} Unlocked<!-- If engine is on and not turning off-->
                {:else if toggleLockProgress == true && status.vehiclestatus.lockStatus.value === "UNLOCKED"} Locking...
                {:else if toggleLockProgress == true && status.vehiclestatus.lockStatus.value === "LOCKED"} Unlocking...
                {/if}
            </div>
        </div>
    {/await}


    <h1 class="section-title">
        <span>Other</span>

        <!--- If more modules are added and not immediatly needed for the user, then put them in a 'more' page' -->
        <a class="text-right text-white text-lg block fill-white float-right align-middle" href={$url('./pages/more')}>
            <span class="inline-block align-middle">More</span> 
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"/></svg>
        </a>

    </h1>

    <!-- Tire pressure Level, detects if the warning is 'true' and displays-->
    {#await Vehicle then vehicle}
        {#if vehicle.vehicle.vehicleStatus.tirePressureWarning}
            <div class="panel col-span-4">
                <div class="panel-icon warning inline-block float-right">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0H24V24H0z"/><path d="M11 2.05v3.02C7.608 5.557 5 8.475 5 12c0 3.866 3.134 7 7 7 1.572 0 3.024-.518 4.192-1.394l2.137 2.137C16.605 21.153 14.4 22 12 22 6.477 22 2 17.523 2 12c0-5.185 3.947-9.449 9-9.95zM21.95 13c-.2 2.011-.994 3.847-2.207 5.328l-2.137-2.136c.687-.916 1.153-2.006 1.323-3.192h3.022zM13.002 2.05c4.724.469 8.48 4.226 8.95 8.95h-3.022c-.438-3.065-2.863-5.49-5.928-5.929V2.049z"/></svg>                </div>
                <div class="py-2 font-bold text-xl inline-block">Tire pressure warning</div>
                <div class="py-2">One of your tires has lower than normal pressure.</div>
            </div>
        {/if}
    {/await}    

    <!-- Fuel Level-->
    {#await Vehicle}
        <div class="panel col-span-2">
            <div class="panel-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M3 19V4a1 1 0 0 1 1-1h9a1 1 0 0 1 1 1v8h2a2 2 0 0 1 2 2v4a1 1 0 0 0 2 0v-7h-2a1 1 0 0 1-1-1V6.414l-1.657-1.657 1.414-1.414 4.95 4.95A.997.997 0 0 1 22 9v9a3 3 0 0 1-6 0v-4h-2v5h1v2H2v-2h1zM5 5v6h7V5H5z"/></svg>
            </div>        
            <div class="py-3 pb-0">Checking fuel...</div>
        </div>
    {:then vehicle}
        <div class="panel col-span-2">
            <div class="panel-icon" class:warning={() => {if (vehicle.vehicle.vehicleDetails.fuelLevel.value <= 25) { return true} }}>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M3 19V4a1 1 0 0 1 1-1h9a1 1 0 0 1 1 1v8h2a2 2 0 0 1 2 2v4a1 1 0 0 0 2 0v-7h-2a1 1 0 0 1-1-1V6.414l-1.657-1.657 1.414-1.414 4.95 4.95A.997.997 0 0 1 22 9v9a3 3 0 0 1-6 0v-4h-2v5h1v2H2v-2h1zM5 5v6h7V5H5z"/></svg>
            </div>
            <div class="absolute right-0 top-0 m-5 text-2xl">
                {#if vehicle.vehicle.vehicleDetails.fuelLevel.value < 0} 0 <small>%</small>
                {:else}{vehicle.vehicle.vehicleDetails.fuelLevel.value}<small>%</small>
                {/if}
            </div>
            {#if vehicle.vehicle.vehicleDetails.fuelLevel.value <= 25 }
                <div class="py-3 pb-0">Find fuel near you</div>
            {:else}
                <div class="py-3 pb-0">Find fuel near you</div>
            {/if}
        </div>
    {/await}    



    <!-- Oil Level [Not yet implemented as API does not give the value]
        <div class="panel col-span-2">
            {#await Vehicle}

                <div class="panel-icon" class:warning="{oil_level < 25}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 3.1L7.05 8.05a7 7 0 1 0 9.9 0L12 3.1zm0-2.828l6.364 6.364a9 9 0 1 1-12.728 0L12 .272zM7 13h10a5 5 0 0 1-10 0z"/></svg>
                </div>
                <div class="absolute right-0 top-0 m-5 text-2xl">
                    {oil_level}<small>%</small>
                </div>
                {#if oil_level <= 25 }
                    <div class="py-3 pb-0">Oil change needed</div>
                {:else}
                    <div class="py-3 pb-0">Oil level</div>
                {/if}
                {/await}
        </div>
    -->

     {#await Vehicle then vehicle}
        <div class="panel col-span-2">
            <div class="panel-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0H24V24H0z"/><path d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2zm0 2c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zm0 1c1.018 0 1.985.217 2.858.608L13.295 7.17C12.882 7.06 12.448 7 12 7c-2.761 0-5 2.239-5 5 0 1.38.56 2.63 1.464 3.536L7.05 16.95l-.156-.161C5.72 15.537 5 13.852 5 12c0-3.866 3.134-7 7-7zm6.392 4.143c.39.872.608 1.84.608 2.857 0 1.933-.784 3.683-2.05 4.95l-1.414-1.414C16.44 14.63 17 13.38 17 12c0-.448-.059-.882-.17-1.295l1.562-1.562zm-2.15-2.8l1.415 1.414-3.724 3.726c.044.165.067.338.067.517 0 1.105-.895 2-2 2s-2-.895-2-2 .895-2 2-2c.179 0 .352.023.517.067l3.726-3.724z"/></svg>
            </div>        
            <div class="absolute right-0 m-5 top-0 text-2xl">{vehicle.vehicle.vehicleLocation.speed}<small>mph</small></div>
            <div class="py-3 pb-0">Current speed</div>
        </div>
    {/await}


    {#await Vehicle then vehicle}
        <div class="panel col-span-4 text-center odometer">
            <!---
            <div class="panel-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M2 5l7-3 6 3 6.303-2.701a.5.5 0 0 1 .697.46V19l-7 3-6-3-6.303 2.701a.5.5 0 0 1-.697-.46V5zm14 14.395l4-1.714V5.033l-4 1.714v12.648zm-2-.131V6.736l-4-2v12.528l4 2zm-6-2.011V4.605L4 6.319v12.648l4-1.714z"/></svg>        </div>        
            -->
            <div class="block my-2 text-5xl font-bold">{vehicle.vehicle.vehicleDetails.mileage} <small>miles</small></div>
            <div class="py-3 pt-0 pb-0 text-lg">Distance driven</div>
        </div>
    {/await}
    
    <h1 class="section-title">
        <span>Location</span>

        <!--- If more modules are added and not immediatly needed for the user, then put them in a 'more' page' -->
        <a class="text-right text-white text-lg block fill-white float-right align-middle" href={$url('./pages/location')}>
            <a class="inline-block align-middle" href="./pages/location">Open</a> 
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"/></svg>
        </a>

    </h1>
        <!-- Map Location -->
    <div class="panel col-span-4 !p-0">
        <div bind:this={map} style="height: 25vh; width: 100%;"></div>
    </div>

</div>

<!-- Hidden classes for the preproccessor to detect-->
<div class="hidden">
    <div class="fill-red-500"></div>
    <div class="header scroll">
        <div class="car-icon"></div>
    </div>
</div>

<style>
    .panel.odometer {
        background: linear-gradient(to right, rgba(71, 168, 229, .85) 40%, rgba( 19, 58, 124, 0.8 ));
        color: #fff;
        backdrop-filter: blur(14px);
        -webkit-backdrop-filter: blur(14px);
    }
</style>