<script lang="typescript">
	import 'virtual:windi.css'
	import '../assets/global.css'
	import { Router } from "@roxi/routify";
	import { routes } from "../.routify/routes";

</script>

<Router {routes} />

<style @global>

</style>
